<h1>My Movies List</h1>
<p *ngIf="!movieList">Movies not found</p>

<table class="table table-striped" *ngIf="movieList">
    <thead>
        <tr>
            <th>Id</th>
            <th>Movie Title</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th>Watched?</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let movie of movieList">
            <td>{{movie.id}}</td>
            <td>{{movie.movieTitle}}</td>
            <td>{{movie.genre}}</td>
            <td>{{movie.releaseDate | date: 'shortDate'}}</td>
            <td>{{movie.watched ? 'Yes' : 'No'}}</td>

        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-2"><label>Movie Title</label></div>
    <div class="col-6"><input [(ngModel)]="newMovie.movieTitle" type="text" placeholder="Movie Title" class="smallInput"></div>
</div>
<div class="row">
    <div class="col-2"><label>Genre</label></div>
    <div class="col-6"><input [(ngModel)]="newMovie.genre" type="text" placeholder="Genre" class="smallInput"></div>
</div>
<div class="row">
    <div class="col-2"><label>Release Date</label></div>
    <div class="col-6"><input [(ngModel)]="newMovie.releaseDate" type="date" placeholder="ReleaseDate"></div>
</div>
<div class="row">
    <div class="col-2"><label>Watched?</label></div>
    <div class="col-6"><input [(ngModel)]="newMovie.watched" type="checkbox"></div>
</div>